# Node
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Builds
dist/
dist-ssr/
coverage/

# Env
.env
backend/.env
frontend/.env

# Vite cache
.vite/

# System
.DS_Store

# Editors
.vscode/
.idea/
*.swp

.env.production
.env.development